@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
    flex-direction: row;
    height:100vh ;
    justify-content: space-between;

}
.leftContainer{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    justify-content: space-between;
}
.rightContainer{
    display: flex;
    flex: 0.5;
    flex-direction: column;
    justify-content: center;
    box-shadow: -120px 0px 48px rgba(47, 44, 171, 0.01), -68px 0px 41px rgba(47, 44, 171, 0.05), -30px 0px 30px rgba(47, 44, 171, 0.09), -8px 0px 17px rgba(47, 44, 171, 0.1), 0px 0px 0px rgba(47, 44, 171, 0.1);
    border-radius: 16px 0px 0px 16px;
}
.brand{
    display: flex;
    align-items: flex-start;
    margin-left: 10vh;
    margin-top: 8vh;
}
#brandLogo{
    height: 100px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12vh;
}
#LoginImg{
    width: 80%;    
}
.containerContents{
    display: flex;
    flex-direction: column;
    margin-left: 8vh;
    margin-right: 8vh;
}
.containerTexts{
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;/* identical to box height */
    text-align: right;
    margin-bottom: 11vh;
}
.heading{
    color: #989898;
}
.subHeading{
    color: #2F2CAB;
}

#email{
    background-color: #F4F4F4;
    box-sizing: border-box;
    border: 0px;
    height:6.5vh;
    width: 100%;
    padding-left: 7vh;
    background-image: url(../../images/mail.svg);
    background-position: 8px 9px;
    background-repeat: no-repeat;
    background-size: 4vh;
    border-radius: 4px;
    margin-bottom: 2.5vh;
}
#password{
    background-color: #F4F4F4;
    box-sizing: border-box;
    border: 0px;
    height: 6.5vh;
    width: 100%;
    padding-left: 7vh;
    background-image: url(../../images/lock.svg);
    background-position: 8px 8px;
    background-repeat: no-repeat;
    background-size: 3vh;
    border-radius: 4px;
    margin-bottom: 15vh;
    
}
.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    background-color: #2F2CAB;
    border-radius: 4px;
    color: white;
    width: 15vh;
    height: 5vh;
    border: none;
    font-weight: 500;
    align-items: center;
}
button:hover{
    cursor: pointer;
}
.walkingTree{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 13vh;

}
#walkingTreeLogo{
    height: 10vh;
}

